/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}



.social-proof {
    margin: 4em 1em;
}

body {
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    background-image: url(images/bg-pattern-bottom-mobile.svg);
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro>p {
    color: (303, 10%, 53%);
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 1em;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
}

.ratings {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-bottom: 3em;
}

.rating {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 1em;
}

.star {
    color: darkorange;
}

.rating-text {
    margin-top: 0px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 1.5rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.testimonial {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.testimonial-header {
    display: flex;
    gap: 2em;
}

.testimonial-header>img {
    border-radius: 100%;
    width: 20%;
    height: 20%;
}

.user-info {
    gap: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info>h3 {
    color: white;
}

.user-info>p {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.testimonial-text {
    font-weight: 600;
    color: white;
    font-size: 1.125 rem;
}


@media (min-width: 1024px) {
    .social-proof {
        margin: 200px auto;
        width: 80vw;
    }

    .top-section {
        display: flex;
    }

    .intro {
        text-align: left;
        width: 50%;

    }
    .rating{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 25px;
        width: 500px;
        align-items: center;
    }
    .rating>stars{
        text-align: left;
    }

    .rating:nth-child(1) {
        margin-left: 0px;
    }

    .rating:nth-child(2) {
        margin-left: 50px;
    }

    .rating:nth-child(3) {
        margin-left: 100px;
    }

    .testimonials{
        flex-direction: row;
        box-sizing: border-box;
    }


    .testimonial:nth-child(1) {
        margin-top: 0px;
    }

    .testimonial:nth-child(2) {
        margin-top: 50px;
    }

    .testimonial:nth-child(3) {
        margin-top: 100px;
    }

    .testimonial{
        width: 500px;
        height: 250px;
    }
    .testimonial-header>img{
        height: 75px;
        width: 75px;
    }

    body{
        background-image: url(images/bg-pattern-bottom-desktop.svg);
    }




}